<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class = "container event-container">
        <form class="col" action="/meals" method = "post" id = "modalform">
            <div class="col-md-4">
              <label for="validationDefault03" class="form-label">Name</label>
              <input type="number" class="form-control" id="" name="name"value="Enter a name" required>
            </div>
            <div class="col-md-3">
                <label for="validationDefault04" class="form-label">Calories</label>
                <input type="number" class="form-control" id="" name="cals"value="Enter a name" required>
            </div>
            <div class="col-md-4">
                <label for="validationDefault03" class="form-label">Protein</label>
                <input type="number" class="form-control" id=""name="protein" value=""required>
            </div>
            <div class="col-md-3">
                <label for="validationDefault04" class="form-label">Sodium</label>
                <input type="number" class="form-control" id="" name="sodium" value=""required>
            </div>
            <div class="col-md-3">
              <label for="validationDefault04" class="form-label">Carbohydrates</label>
              <input type="number" class="form-control" id="" name="carbs"value=""required>
          </div>
          <div class="col-md-3">
              <label for="validationDefault04" class="form-label">Total Sugars</label>
              <input type="number" class="form-control" id="" name="sugars" value=""required>
          </div>
          <div class="col-12">
              <button class="btn btn-primary" id="submit-button" type="submit">Submit form</button>
          </div>
        </form>
      </div>
</main>

<%- include ('../partials/footer') %>