<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <h1 class="text-center display-1" ><u>Welcome to MPIH</u></h1>
  <div class="text-center">
      <img src= "https://i.ytimg.com/vi/xjodBEJpA-Q/maxresdefault.jpg" style="width:50%;" />
    </div>
    <h5 class="text-center" >AKA (aka EMPEE) Your Personal Meal Planner</h5>


</main>

<%- include ('../partials/footer') %>