<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<style>
    .space{
        padding: 50px;
    }
</style>

<main>
    <div class="space">
        <div class="progress" padding="50px">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>
    </div>
    <p id="progress">
        You have met 0% of your goal.
    </p>


    <div id="goal" aria-valuenow="0">
            Your goal is 2000 calories.
    </div>

    <form id="form">
        <div class="form-group">
            <label for="cal">Enter Calories</label>
            <input type="number" class="form-control" id="userInput1" placeholder="Cals">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <form id="form2">
        <div class="form-group">
            <label for="goal">Goal</label>
            <input type="number" class="form-control" id="goalInput" placeholder="goal">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <script>
        var form1 = document.getElementById('form');
        var form2 = document.getElementById('form2');
        var bar = document.getElementById('bar');
        var goal = 2000;

        form1.addEventListener('submit', (e) => {
            e.preventDefault();
            var cal = Number(document.getElementById('userInput1').value);

            cal += Number(bar.getAttribute("aria-valuenow"));
            bar.setAttribute("aria-valuenow", cal);

            var percentage = Math.round((cal / goal)*100);
            bar.style.width = percentage + "%"
            bar.innerHTML = percentage + "%";
            document.getElementById('progress').innerHTML = `You have met ${percentage}% of your goal.`;
        });

        form2.addEventListener('submit', (e) => {
            e.preventDefault();
            var goalInput = Number(document.getElementById('goalInput').value);
            document.getElementById('goal').innerHTML = "Your goal is: " + goalInput + " calories.";
            goal = goalInput;
        });
    </script>

</main>

<%- include ('../partials/footer') %>