<%- include ('../partials/header') %> <%- include ('../partials/menu') %> 
<div class="col"><%- include ('../partials/message') %></div>
<main>
  <div class="container" style="width: 50%;">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1 style="padding-top: 20px; padding-bottom: 10px;">Register</h1>
    <form action="/register" method="POST">
        <div class="border-bottom" style="padding-bottom: 20px;">
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter User Name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
            </div>
        </div>
        <p style="padding-top: 10px; display: inline-block;">Already have an account?</p>
        <a style="display: inline-block" href="/login">Login</a>
        <button type="submit" class="btn btn-primary" style="display: inline-block; margin-left: 376px;">Register</button>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>